@model ExamePratico.Models.TipoParticipante

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TipoParticipante</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Designação)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Designação)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TipoParticipanteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
